<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/write.css">
</head>
<body>
  <div class="container">
    <h1>나의 일기</h1>
    <input type="date" id="diaryDate">
    <textarea id="diaryContent" placeholder="오늘 하루는 어떠셨나요?"></textarea>
    <button id="saveButton">저장</button>
    <div id="diaryList"></div>
  </div>
  <!-- javascript-->
</body>
</html>